<div class=post-content>
  title:<%= @post.title %> <br>
  content:<%= @post.content %> <br>
  <% @post.categories.each do |category| %>
    category name:<%= category.name %> <br>
  <% end %>
</div>
